{{!-- <div id="gallery" class="hp__gallery_el">
    <div class="hp__gallery_img-wrapper">
        <img src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{title}}" class="hp__gallery_img" data-id={{id}}>
        </div>
        <h2 class="film_title" data-id="{{id}}">{{title}}</h2>
        <div class="card-content">
             <p>
                             <ul class="film_genre list">
                {{#each genres}}
                     <li>{{name}}</li>
                 {{/each}}
            </ul>

             | </p>
            <span>{{release_data}}</span>
        </div>
    </div>
</div> --}}

<div id="gallery" class="hp__gallery_el">
      <div class="hp__gallery_img-wrapper">
          <img class="hp__gallery_img" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{original_title}}"
      ></div>
      <h2 class="film_title">{{original_title}}</h2>
      <div>
        <ul class="film_genre list">
        {{#each genres}}
                <li>{{name}}</li>
            {{/each}} |
    </ul>
      <span class="film_genre">{{release_date}}</span>

      </div>
      <ul class="modal-list__buttons list">
      <li>
      <button id="{{id}}" class='button-watched-modal-window button--active button'>add to watched</button></li>
      <li>
      <button id="{{id}}" type='button' class='button-queue-modal-window button button--active'>add to queue</button></li>
      </ul>
    </div>
